$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "assets/font/icomoon/font" !default;

$cert-icon-home: "\e90a";
$cert-icon-home2: "\e90b";
$cert-icon-home3: "\e90c";
$cert-icon-office: "\e90d";
$cert-icon-newspaper: "\e90e";
$cert-icon-pencil: "\e90f";
$cert-icon-pencil2: "\e910";
$cert-icon-quill: "\e911";
$cert-icon-pen: "\e912";
$cert-icon-blog: "\e913";
$cert-icon-eyedropper: "\e914";
$cert-icon-droplet: "\e915";
$cert-icon-paint-format: "\e916";
$cert-icon-image: "\e917";
$cert-icon-images: "\e918";
$cert-icon-camera: "\e919";
$cert-icon-headphones: "\e91a";
$cert-icon-music: "\e91b";
$cert-icon-play: "\e91c";
$cert-icon-film: "\e91d";
$cert-icon-video-camera: "\e91e";
$cert-icon-dice: "\e91f";
$cert-icon-pacman: "\e920";
$cert-icon-spades: "\e921";
$cert-icon-clubs: "\e922";
$cert-icon-diamonds: "\e923";
$cert-icon-bullhorn: "\e924";
$cert-icon-connection: "\e925";
$cert-icon-podcast: "\e926";
$cert-icon-feed: "\e927";
$cert-icon-mic: "\e928";
$cert-icon-book: "\e929";
$cert-icon-books: "\e92a";
$cert-icon-library: "\e92b";
$cert-icon-file-text: "\e92c";
$cert-icon-profile: "\e92d";
$cert-icon-file-empty: "\e92e";
$cert-icon-files-empty: "\e92f";
$cert-icon-file-text2: "\e930";
$cert-icon-file-picture: "\e931";
$cert-icon-file-music: "\e932";
$cert-icon-file-play: "\e933";
$cert-icon-file-video: "\e934";
$cert-icon-file-zip: "\e935";
$cert-icon-copy: "\e936";
$cert-icon-paste: "\e937";
$cert-icon-stack: "\e938";
$cert-icon-folder: "\e939";
$cert-icon-folder-open: "\e93a";
$cert-icon-folder-plus: "\e93b";
$cert-icon-folder-minus: "\e93c";
$cert-icon-folder-download: "\e93d";
$cert-icon-folder-upload: "\e93e";
$cert-icon-price-tag: "\e93f";
$cert-icon-price-tags: "\e940";
$cert-icon-barcode: "\e941";
$cert-icon-qrcode: "\e942";
$cert-icon-ticket: "\e943";
$cert-icon-cart: "\e944";
$cert-icon-coin-dollar: "\e945";
$cert-icon-coin-euro: "\e946";
$cert-icon-coin-pound: "\e947";
$cert-icon-coin-yen: "\e948";
$cert-icon-credit-card: "\e949";
$cert-icon-calculator: "\e94a";
$cert-icon-lifebuoy: "\e94b";
$cert-icon-phone: "\e94c";
$cert-icon-phone-hang-up: "\e94d";
$cert-icon-address-book: "\e94e";
$cert-icon-envelop: "\e94f";
$cert-icon-pushpin: "\e950";
$cert-icon-location: "\e951";
$cert-icon-location2: "\e952";
$cert-icon-compass: "\e953";
$cert-icon-compass2: "\e954";
$cert-icon-map: "\e955";
$cert-icon-map2: "\e956";
$cert-icon-history: "\e957";
$cert-icon-clock: "\e958";
$cert-icon-clock2: "\e959";
$cert-icon-alarm: "\e95a";
$cert-icon-bell: "\e95b";
$cert-icon-stopwatch: "\e95c";
$cert-icon-calendar: "\e95d";
$cert-icon-printer: "\e95e";
$cert-icon-keyboard: "\e95f";
$cert-icon-display: "\e960";
$cert-icon-laptop: "\e961";
$cert-icon-mobile: "\e962";
$cert-icon-mobile2: "\e963";
$cert-icon-tablet: "\e964";
$cert-icon-tv: "\e965";
$cert-icon-drawer: "\e966";
$cert-icon-drawer2: "\e967";
$cert-icon-box-add: "\e968";
$cert-icon-box-remove: "\e969";
$cert-icon-download: "\e96a";
$cert-icon-upload: "\e96b";
$cert-icon-floppy-disk: "\e96c";
$cert-icon-drive: "\e96d";
$cert-icon-database: "\e96e";
$cert-icon-undo: "\e96f";
$cert-icon-redo: "\e970";
$cert-icon-undo2: "\e971";
$cert-icon-redo2: "\e972";
$cert-icon-forward: "\e973";
$cert-icon-reply: "\e974";
$cert-icon-bubble: "\e975";
$cert-icon-bubbles: "\e976";
$cert-icon-bubbles2: "\e977";
$cert-icon-bubble2: "\e978";
$cert-icon-bubbles3: "\e979";
$cert-icon-bubbles4: "\e97a";
$cert-icon-user: "\e97b";
$cert-icon-users: "\e97c";
$cert-icon-user-plus: "\e97d";
$cert-icon-user-minus: "\e97e";
$cert-icon-user-check: "\e97f";
$cert-icon-user-tie: "\e980";
$cert-icon-quotes-left: "\e981";
$cert-icon-quotes-right: "\e982";
$cert-icon-hour-glass: "\e983";
$cert-icon-spinner: "\e984";
$cert-icon-spinner2: "\e985";
$cert-icon-spinner3: "\e986";
$cert-icon-spinner4: "\e987";
$cert-icon-spinner5: "\e988";
$cert-icon-spinner6: "\e989";
$cert-icon-spinner7: "\e98a";
$cert-icon-spinner8: "\e98b";
$cert-icon-spinner9: "\e98c";
$cert-icon-spinner10: "\e98d";
$cert-icon-spinner11: "\e98e";
$cert-icon-binoculars: "\e98f";
$cert-icon-search: "\e990";
$cert-icon-zoom-in: "\e991";
$cert-icon-zoom-out: "\e992";
$cert-icon-enlarge: "\e993";
$cert-icon-shrink: "\e994";
$cert-icon-enlarge2: "\e995";
$cert-icon-shrink2: "\e996";
$cert-icon-key: "\e997";
$cert-icon-key2: "\e998";
$cert-icon-lock: "\e999";
$cert-icon-unlocked: "\e99a";
$cert-icon-wrench: "\e99b";
$cert-icon-equalizer: "\e99c";
$cert-icon-equalizer2: "\e99d";
$cert-icon-cog: "\e99e";
$cert-icon-cogs: "\e99f";
$cert-icon-hammer: "\e9a0";
$cert-icon-magic-wand: "\e9a1";
$cert-icon-aid-kit: "\e9a2";
$cert-icon-bug: "\e9a3";
$cert-icon-pie-chart: "\e9a4";
$cert-icon-stats-dots: "\e9a5";
$cert-icon-stats-bars: "\e9a6";
$cert-icon-stats-bars2: "\e9a7";
$cert-icon-trophy: "\e9a8";
$cert-icon-gift: "\e9a9";
$cert-icon-glass: "\e9aa";
$cert-icon-glass2: "\e9ab";
$cert-icon-mug: "\e9ac";
$cert-icon-spoon-knife: "\e9ad";
$cert-icon-leaf: "\e9ae";
$cert-icon-rocket: "\e9af";
$cert-icon-meter: "\e9b0";
$cert-icon-meter2: "\e9b1";
$cert-icon-hammer2: "\e9b2";
$cert-icon-fire: "\e9b3";
$cert-icon-lab: "\e9b4";
$cert-icon-magnet: "\e9b5";
$cert-icon-bin: "\e9b6";
$cert-icon-bin2: "\e9b7";
$cert-icon-briefcase: "\e9b8";
$cert-icon-airplane: "\e9b9";
$cert-icon-truck: "\e9ba";
$cert-icon-road: "\e9bb";
$cert-icon-accessibility: "\e9bc";
$cert-icon-target: "\e9bd";
$cert-icon-shield: "\e9be";
$cert-icon-power: "\e9bf";
$cert-icon-switch: "\e9c0";
$cert-icon-power-cord: "\e9c1";
$cert-icon-clipboard: "\e9c2";
$cert-icon-list-numbered: "\e9c3";
$cert-icon-list: "\e9c4";
$cert-icon-list2: "\e9c5";
$cert-icon-tree: "\e9c6";
$cert-icon-menu: "\e9c7";
$cert-icon-menu2: "\e9c8";
$cert-icon-menu3: "\e9c9";
$cert-icon-menu4: "\e9ca";
$cert-icon-cloud: "\e9cb";
$cert-icon-cloud-download: "\e9cc";
$cert-icon-cloud-upload: "\e9cd";
$cert-icon-cloud-check: "\e9ce";
$cert-icon-download2: "\e9cf";
$cert-icon-upload2: "\e9d0";
$cert-icon-download3: "\e9d1";
$cert-icon-upload3: "\e9d2";
$cert-icon-sphere: "\e9d3";
$cert-icon-earth: "\e9d4";
$cert-icon-link: "\e9d5";
$cert-icon-flag: "\e9d6";
$cert-icon-attachment: "\e9d7";
$cert-icon-eye: "\e9d8";
$cert-icon-eye-plus: "\e9d9";
$cert-icon-eye-minus: "\e9da";
$cert-icon-eye-blocked: "\e9db";
$cert-icon-bookmark: "\e9dc";
$cert-icon-bookmarks: "\e9dd";
$cert-icon-sun: "\e9de";
$cert-icon-contrast: "\e9df";
$cert-icon-brightness-contrast: "\e9e0";
$cert-icon-star-empty: "\e9e1";
$cert-icon-star-half: "\e9e2";
$cert-icon-star-full: "\e9e3";
$cert-icon-heart: "\e9e4";
$cert-icon-heart-broken: "\e9e5";
$cert-icon-man: "\e9e6";
$cert-icon-woman: "\e9e7";
$cert-icon-man-woman: "\e9e8";
$cert-icon-happy: "\e9e9";
$cert-icon-happy2: "\e9ea";
$cert-icon-smile: "\e9eb";
$cert-icon-smile2: "\e9ec";
$cert-icon-tongue: "\e9ed";
$cert-icon-tongue2: "\e9ee";
$cert-icon-sad: "\e9ef";
$cert-icon-sad2: "\e9f0";
$cert-icon-wink: "\e9f1";
$cert-icon-wink2: "\e9f2";
$cert-icon-grin: "\e9f3";
$cert-icon-grin2: "\e9f4";
$cert-icon-cool: "\e9f5";
$cert-icon-cool2: "\e9f6";
$cert-icon-angry: "\e9f7";
$cert-icon-angry2: "\e9f8";
$cert-icon-evil: "\e9f9";
$cert-icon-evil2: "\e9fa";
$cert-icon-shocked: "\e9fb";
$cert-icon-shocked2: "\e9fc";
$cert-icon-baffled: "\e9fd";
$cert-icon-baffled2: "\e9fe";
$cert-icon-confused: "\e9ff";
$cert-icon-confused2: "\ea00";
$cert-icon-neutral: "\ea01";
$cert-icon-neutral2: "\ea02";
$cert-icon-hipster: "\ea03";
$cert-icon-hipster2: "\ea04";
$cert-icon-wondering: "\ea05";
$cert-icon-wondering2: "\ea06";
$cert-icon-sleepy: "\ea07";
$cert-icon-sleepy2: "\ea08";
$cert-icon-frustrated: "\ea09";
$cert-icon-frustrated2: "\ea0a";
$cert-icon-crying: "\ea0b";
$cert-icon-crying2: "\ea0c";
$cert-icon-point-up: "\ea0d";
$cert-icon-point-right: "\ea0e";
$cert-icon-point-down: "\ea0f";
$cert-icon-point-left: "\ea10";
$cert-icon-warning: "\ea11";
$cert-icon-notification: "\ea12";
$cert-icon-question: "\ea13";
$cert-icon-plus: "\ea14";
$cert-icon-minus: "\ea15";
$cert-icon-info: "\ea16";
$cert-icon-cancel-circle: "\ea17";
$cert-icon-blocked: "\ea18";
$cert-icon-cross: "\ea19";
$cert-icon-checkmark: "\ea1a";
$cert-icon-checkmark2: "\ea1b";
$cert-icon-spell-check: "\ea1c";
$cert-icon-enter: "\ea1d";
$cert-icon-exit: "\ea1e";
$cert-icon-play2: "\ea1f";
$cert-icon-pause: "\ea20";
$cert-icon-stop: "\ea21";
$cert-icon-previous: "\ea22";
$cert-icon-next: "\ea23";
$cert-icon-backward: "\ea24";
$cert-icon-forward2: "\ea25";
$cert-icon-play3: "\ea26";
$cert-icon-pause2: "\ea27";
$cert-icon-stop2: "\ea28";
$cert-icon-backward2: "\ea29";
$cert-icon-forward3: "\ea2a";
$cert-icon-first: "\ea2b";
$cert-icon-last: "\ea2c";
$cert-icon-previous2: "\ea2d";
$cert-icon-next2: "\ea2e";
$cert-icon-eject: "\ea2f";
$cert-icon-volume-high: "\ea30";
$cert-icon-volume-medium: "\ea31";
$cert-icon-volume-low: "\ea32";
$cert-icon-volume-mute: "\ea33";
$cert-icon-volume-mute2: "\ea34";
$cert-icon-volume-increase: "\ea35";
$cert-icon-volume-decrease: "\ea36";
$cert-icon-loop: "\ea37";
$cert-icon-loop2: "\ea38";
$cert-icon-infinite: "\ea39";
$cert-icon-shuffle: "\ea3a";
$cert-icon-arrow-up-left: "\ea3b";
$cert-icon-arrow-up: "\ea3c";
$cert-icon-arrow-up-right: "\ea3d";
$cert-icon-arrow-right: "\ea3e";
$cert-icon-arrow-down-right: "\ea3f";
$cert-icon-arrow-down: "\ea40";
$cert-icon-arrow-down-left: "\ea41";
$cert-icon-arrow-left: "\ea42";
$cert-icon-arrow-up-left2: "\ea43";
$cert-icon-arrow-up2: "\ea44";
$cert-icon-arrow-up-right2: "\ea45";
$cert-icon-arrow-right2: "\ea46";
$cert-icon-arrow-down-right2: "\ea47";
$cert-icon-arrow-down2: "\ea48";
$cert-icon-arrow-down-left2: "\ea49";
$cert-icon-arrow-left2: "\ea4a";
$cert-icon-circle-up: "\ea4b";
$cert-icon-circle-right: "\ea4c";
$cert-icon-circle-down: "\ea4d";
$cert-icon-circle-left: "\ea4e";
$cert-icon-tab: "\ea4f";
$cert-icon-move-up: "\ea50";
$cert-icon-move-down: "\ea51";
$cert-icon-sort-alpha-asc: "\ea52";
$cert-icon-sort-alpha-desc: "\ea53";
$cert-icon-sort-numeric-asc: "\ea54";
$cert-icon-sort-numberic-desc: "\ea55";
$cert-icon-sort-amount-asc: "\ea56";
$cert-icon-sort-amount-desc: "\ea57";
$cert-icon-command: "\ea58";
$cert-icon-shift: "\ea59";
$cert-icon-ctrl: "\ea5a";
$cert-icon-opt: "\ea5b";
$cert-icon-checkbox-checked: "\ea5c";
$cert-icon-checkbox-unchecked: "\ea5d";
$cert-icon-radio-checked: "\ea5e";
$cert-icon-radio-checked2: "\ea5f";
$cert-icon-radio-unchecked: "\ea60";
$cert-icon-crop: "\ea61";
$cert-icon-make-group: "\ea62";
$cert-icon-ungroup: "\ea63";
$cert-icon-scissors: "\ea64";
$cert-icon-filter: "\ea65";
$cert-icon-font: "\ea66";
$cert-icon-ligature: "\ea67";
$cert-icon-ligature2: "\ea68";
$cert-icon-text-height: "\ea69";
$cert-icon-text-width: "\ea6a";
$cert-icon-font-size: "\ea6b";
$cert-icon-bold: "\ea6c";
$cert-icon-underline: "\ea6d";
$cert-icon-italic: "\ea6e";
$cert-icon-strikethrough: "\ea6f";
$cert-icon-omega: "\ea70";
$cert-icon-sigma: "\ea71";
$cert-icon-page-break: "\ea72";
$cert-icon-superscript: "\ea73";
$cert-icon-subscript: "\ea74";
$cert-icon-superscript2: "\ea75";
$cert-icon-subscript2: "\ea76";
$cert-icon-text-color: "\ea77";
$cert-icon-pagebreak: "\ea78";
$cert-icon-clear-formatting: "\ea79";
$cert-icon-table: "\ea7a";
$cert-icon-table2: "\ea7b";
$cert-icon-insert-template: "\ea7c";
$cert-icon-pilcrow: "\ea7d";
$cert-icon-ltr: "\ea7e";
$cert-icon-rtl: "\ea7f";
$cert-icon-section: "\ea80";
$cert-icon-paragraph-left: "\ea81";
$cert-icon-paragraph-center: "\ea82";
$cert-icon-paragraph-right: "\ea83";
$cert-icon-paragraph-justify: "\ea84";
$cert-icon-indent-increase: "\ea85";
$cert-icon-indent-decrease: "\ea86";
$cert-icon-share: "\ea87";
$cert-icon-new-tab: "\ea88";
$cert-icon-embed: "\ea89";
$cert-icon-embed2: "\ea8a";
$cert-icon-terminal: "\ea8b";
$cert-icon-share2: "\ea8c";
$cert-icon-mail: "\ea8d";
$cert-icon-mail2: "\ea8e";
$cert-icon-mail3: "\ea8f";
$cert-icon-mail4: "\ea90";
$cert-icon-amazon: "\ea91";
$cert-icon-google: "\ea92";
$cert-icon-google2: "\ea93";
$cert-icon-google3: "\ea94";
$cert-icon-google-plus: "\ea95";
$cert-icon-google-plus2: "\ea96";
$cert-icon-google-plus3: "\ea97";
$cert-icon-hangouts: "\ea98";
$cert-icon-google-drive: "\ea99";
$cert-icon-facebook: "\ea9a";
$cert-icon-facebook2: "\ea9b";
$cert-icon-instagram: "\ea9c";
$cert-icon-whatsapp: "\ea9d";
$cert-icon-spotify: "\ea9e";
$cert-icon-telegram: "\ea9f";
$cert-icon-twitter: "\eaa0";
$cert-icon-vine: "\eaa1";
$cert-icon-vk: "\eaa2";
$cert-icon-renren: "\eaa3";
$cert-icon-sina-weibo: "\eaa4";
$cert-icon-rss: "\eaa5";
$cert-icon-rss2: "\eaa6";
$cert-icon-youtube: "\eaa7";
$cert-icon-youtube2: "\eaa8";
$cert-icon-twitch: "\eaa9";
$cert-icon-vimeo: "\eaaa";
$cert-icon-vimeo2: "\eaab";
$cert-icon-lanyrd: "\eaac";
$cert-icon-flickr: "\eaad";
$cert-icon-flickr2: "\eaae";
$cert-icon-flickr3: "\eaaf";
$cert-icon-flickr4: "\eab0";
$cert-icon-dribbble: "\eab1";
$cert-icon-behance: "\eab2";
$cert-icon-behance2: "\eab3";
$cert-icon-deviantart: "\eab4";
$cert-icon-500px: "\eab5";
$cert-icon-steam: "\eab6";
$cert-icon-steam2: "\eab7";
$cert-icon-dropbox: "\eab8";
$cert-icon-onedrive: "\eab9";
$cert-icon-github: "\eaba";
$cert-icon-npm: "\eabb";
$cert-icon-basecamp: "\eabc";
$cert-icon-trello: "\eabd";
$cert-icon-wordpress: "\eabe";
$cert-icon-joomla: "\eabf";
$cert-icon-ello: "\eac0";
$cert-icon-blogger: "\eac1";
$cert-icon-blogger2: "\eac2";
$cert-icon-tumblr: "\eac3";
$cert-icon-tumblr2: "\eac4";
$cert-icon-yahoo: "\eac5";
$cert-icon-yahoo2: "\eac6";
$cert-icon-tux: "\eac7";
$cert-icon-appleinc: "\eac8";
$cert-icon-finder: "\eac9";
$cert-icon-android: "\eaca";
$cert-icon-windows: "\eacb";
$cert-icon-windows8: "\eacc";
$cert-icon-soundcloud: "\eacd";
$cert-icon-soundcloud2: "\eace";
$cert-icon-skype: "\eacf";
$cert-icon-reddit: "\ead0";
$cert-icon-hackernews: "\ead1";
$cert-icon-wikipedia: "\ead2";
$cert-icon-linkedin: "\ead3";
$cert-icon-linkedin2: "\ead4";
$cert-icon-lastfm: "\ead5";
$cert-icon-lastfm2: "\ead6";
$cert-icon-delicious: "\ead7";
$cert-icon-stumbleupon: "\ead8";
$cert-icon-stumbleupon2: "\ead9";
$cert-icon-stackoverflow: "\eada";
$cert-icon-pinterest: "\eadb";
$cert-icon-pinterest2: "\eadc";
$cert-icon-xing: "\eadd";
$cert-icon-xing2: "\eade";
$cert-icon-flattr: "\eadf";
$cert-icon-foursquare: "\eae0";
$cert-icon-yelp: "\eae1";
$cert-icon-paypal: "\eae2";
$cert-icon-chrome: "\eae3";
$cert-icon-firefox: "\eae4";
$cert-icon-IE: "\eae5";
$cert-icon-edge: "\eae6";
$cert-icon-safari: "\eae7";
$cert-icon-opera: "\eae8";
$cert-icon-file-pdf: "\eae9";
$cert-icon-file-openoffice: "\eaea";
$cert-icon-file-word: "\eaeb";
$cert-icon-file-excel: "\eaec";
$cert-icon-libreoffice: "\eaed";
$cert-icon-html-five: "\eaee";
$cert-icon-html-five2: "\eaef";
$cert-icon-css3: "\eaf0";
$cert-icon-git: "\eaf1";
$cert-icon-codepen: "\eaf2";
$cert-icon-svg: "\eaf3";
$cert-icon-IcoMoon: "\eaf4";
$cert-icon-false: "\e900";
$cert-icon-fishing: "\e901";
$cert-icon-legend: "\e902";
$cert-icon-miscaptioned: "\e903";
$cert-icon-mix: "\e904";
$cert-icon-mostly-false: "\e905";
$cert-icon-mostly-true: "\e906";
$cert-icon-outdated: "\e907";
$cert-icon-true: "\e908";
$cert-icon-unproven: "\e909";

